h1 {
  font-family: 'Raleway', sans-serif; }

.description {
  font-family: 'Raleway', sans-serif; }

.path {
  font-family: 'Courier New', monospace;
  font-weight: bold;
  font-size: 170%; }

.json {
  font-family: 'Courier New', monospace; }

.response {
  font-family: 'Raleway', sans-serif;
  text-decoration: underline; }
